<div class="buyer buyer1">
  <div class="buyer-name">
    <div><img src="images/image-colton.jpg" alt="" /></div>
    <div class="buyer-text">
      <h4>Colton Smith</h4>
      <span>Verified Buyer</span>
    </div>
  </div>
  <div>
    <p>
      "We needed the same printed design as the one we ordered a week ago prior.
      Not only did they find the original order, but we also received it in
      time. Excellent! "
    </p>
  </div>
</div>
<div class="buyer buyer2">
  <div class="buyer-name">
    <div><img src="images/image-irene.jpg" alt="" /></div>
    <div class="buyer-text">
      <h4>Colton Smith</h4>
      <span>Verified Buyer</span>
    </div>
  </div>
  <div>
    <p>
      "Customer service is always excellent and very quick turn around.
      Completely delighted with the simplicity of purchaseand the speed of
      delivery."
    </p>
  </div>
</div>
<div class="buyer buyer3">
  <div class="buyer-name">
    <div><img src="images/image-anne.jpg" alt="" /></div>
    <div class="buyer-text">
      <h4>Colton Smith</h4>
      <span>Verified Buyer</span>
    </div>
  </div>
  <div>
    <p>
      "Put an order with with this company and can only praise them for the very
      high standard. Will definitely use them again and recommend them to
      everyone"
    </p>
  </div>
</div>
